h1{
    position: relative;
    font-family: 'Parisienne', cursive;
    font-size: 110px;   
    text-align: center;
    transform: rotate(-20deg);
    bottom: 50px;
    color: gold;
}

h2{
    position: relative;
    font-family: 'Prata', serif;
    font-size: 75px;   
    text-align: center;
    color:silver;  
    padding: 10px;
}

.maincontent{
    border-style: solid;
    border-color: lightgrey;
    font-family: 'Sarabun', sans-serif;
    color: gold;
    text-align: center;
    font-size: larger;
    line-height: 2;
}

#instructions{
    text-align: center;
}

h5{
    position: relative;
    height: 400px;
    width: 400px;
}

#reset{
    position: relative;
    right: -515px;
    margin: 20px;
}

/*
    
    font-family: 'Reenie Beanie', cursive; */
